<header>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('sunflowers.jpg');
      width: 100%;
    "
  >
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Museum App</h1>
        <h4 class="mb-3">Get a random object from the MET collection</h4>
      </div>
    </div>
  </div>
  </div>
</header>

<router-outlet />

<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="text-center p-3" style="color: black;">
    Author — Alina Kumorek<br>
    Used <a class="link-secondary" href="https://metmuseum.github.io/" title="api">API</a> by <a class="link-secondary" href="https://www.metmuseum.org/" title="met">the Metropolitan Museum of Art</a><br>
    Images: "Sunflowers" by Vincent van Gogh, icons by justicon and pocike from Flaticon
  </div>
</footer>